* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  font-size: 14px;
  color: #222;
}

@media( min-width: 768px ) {
  body, html {
    font-size: 1.063rem;
  }
}

.wrapper {
  max-width: 1170px;
  margin: 20px auto;
}

span {
  color: #003E7E;
}

@media(max-width: 768px ) {
  span.count {
    display: block;
    margin-top: 0.25rem;
  }
}

section {
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

h2, h3 {
  margin-bottom: 0;
}

p {
  margin-top: 0.5rem;
}

h3 {
  font-weight: normal;
  font-style: italic;
}

footer {
  color: #888;
  font-size: 0.875rem;
  text-align: right;
}